body {
  background: #fafafa !important;
  height: 100vh;
}
.get_started {
  height: 100vh;
}
.header p {
  font-family: Rockwell;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.text_after_img {
  font-family: Rockwell;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  width: 718px;
  height: 84px;
  left: 361px;
  margin-bottom: 500px;
  margin-left: 75px;
}
.girl {
  margin-bottom: 10px;

  height: 70%;
  width: 70%;
}
.btn {
  position: absolute;
  width: 298px;
  height: 91px;
  margin-top: 100px;
  margin-left: 625px;
}

.feedback_body {
  background: #f8f1eb !important;
}

.feedback h1 {
  position: absolute;
  width: 513px;
  height: 56px;
  left: 463px;
  top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #2b2976;
}

.feedback p {
  position: absolute;
  width: 550px;
  height: 60px;
  left: 852px;
  top: 262px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  text-align: center;

  color: #1c1a51;
}
.leave_feedback {
  position: absolute;
  width: 356px;
  height: 21px;
  left: 115px;
  top: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #373564;
}
.persons_data {
  position: absolute;
  width: 600px;
  height: 250px;
  left: 900px;
  top: 437px;
  background: #ece4dd;
  border-radius: 37px;
}
.form-label {
  margin-left: 20px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;

  color: #3a2b58;
}
.favorites {
  background-color: #2d2d35 !important;
}
.header_favorites {
  position: absolute;
  width: 308px;
  height: 40px;
  left: 64px;
  top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.sign_in {
  display: block;
  position: absolute;
  width: 190px;
  height: 49px;
  left: 1194px;
  top: 5px;
  background: #ffa500;
  border-radius: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #fcfcfc;
  transition: 1s;
  overflow: hidden;
  border: 0 none;
  cursor: pointer;
  outline: none;
}

.sign_in:hover {
  background-color: transparent;
  border: 2px white solid;
}
.favorites p {
  position: absolute;
  width: 70px;
  height: 23px;
  left: 80px;
  top: 178px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
}
.genres_section {
  width: 50%;
  margin-left: 70px;
}
.genre {
  color: white;
  position: absolute;
  width: 113px;
  height: 35px;
  background: #16161f;
  border-radius: 40px;
  overflow: hidden;
  border: 0 none;
  cursor: pointer;
  outline: none;
  top: 35vh;
}
.genre_bottom {
  margin-top: 5px;
  position: absolute;
  width: 113px;
  height: 35px;
  color: white;
  background: #16161f;
  border-radius: 40px;
  overflow: hidden;
  border: 0 none;
  cursor: pointer;
  outline: none;
  top: 43vh;
}
.genre_bottom:active {
  background-color: #2525ce;
  transition: color 0s;
}
.find_film {
  position: absolute;
  width: 725px;
  height: 43px;
  left: 80px;
  margin-top: 450px;
  background: #16161f;
  border-radius: 50px;
}
.card-img-top {
  position: absolute;
  width: 141px;
  height: 208px;
  left: 70px;
  top: 482px;
  opacity: 0.5;
}
